{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="mb-3">
        <div class="mb-3" id="welcome-title">
            Hello !
        </div>
        <div class="mb-3" id="welcome-section">
            Welcome to Grocery Tracker where you can analyze your grocery receipts simply by uploading a picture.
        </div>
        <ul class="list-unstyled" id="welcome-list">
            <li>Free</li>
            <li>Easy to use</li>
        </ul>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('receipt.index') }}">
            <input class="btn btn-outline-secondary" name="get-started" type="submit" value="Get Started">
        </a>
        {% else %}
        <a href="{{ url_for('auth.login') }}">
            <input class="btn btn-outline-secondary" name="get-started" type="submit" value="Sign in to get started">
        </a>
        {% endif %}
    </div>
{% endblock %}