{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="mb-3">
        <h3 class="mb-3" id="welcome-title">
            Insights into your spending
        </h3>
        <div class="container">
            <div class="row">
                <figure class="col-sm">
                    <p><img class="" src="{{ weekly }}" alt="Weekly spending">
                    <figcaption>Weekly spending</figcaption><p>
                </figure>
                <figure class="col-sm">
                    <p><img class="" src="{{ monthly }}" alt="Monthly spending">
                    <figcaption>Monthly spending</figcaption><p>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}