<!doctype html>
<html>
  <head>
    <title>Item Table</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      body {
        font-family: Sans-Serif;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Item Table</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      new gridjs.Grid({
        columns: [
          { id: 'id', 'hidden': true },
          { id: 'name', name: 'Item', 'attributes': editableCellAttributes, 'sort': {
                          compare: (a, b) => {
                            return a.localeCompare(b);
                          }
            }
          },
          { id: 'amount', name: 'Amount', 'attributes': editableCellAttributes },
          { id: 'price', name: 'Total Price', 'attributes': editableCellAttributes, sort: {
                          compare: (a, b) => {
                              return parseFloat(a) - parseFloat(b);
                          },
                      },
          },
          // Can't use url_for in javascript because of item_id reference
          { id: 'delete_item', name: 'Delete', formatter: (item_id) =>
              gridjs.html(`<a href="/delete-row?item_id=${item_id}" }}><img src="/static/delete_icon.svg"/></a>`)}
        ],
        server: {
          url: '/api/data',
          then: results => results.data.map(item =>
            [item.id, item.name, item.amount, item.price, item.id]),
          total: results => results.total,
        },
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true
      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
    </script>
    <button>
      <a href="{{ url_for('item_table.receipts') }}" style="color:inherit;text-decoration:none">See All Receipts</a>
    </button>
    <button>
      <a href="{{ url_for('item_table.photo') }}" style="color:inherit;text-decoration:none" target="_blank">Receipt Picture</a>
    </button>
    <button id="add-row-button">Add Row</button>
    <script>
      document.getElementById('add-row-button').onclick = function(){
        var request = new XMLHttpRequest();

        // We point the request at the appropriate command
        request.open("GET", "/" + "add-row", true);
        // and then we send it off
        request.send();
        // reload page to display new row
        location.reload();
      }
    </script>
  </body>
</html>