{% extends "layout.html" %}
{% block title %}

{% endblock %}

{% block main %}
    <div>
      <h1>Items</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
      const tableDiv = document.getElementById('table');

      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      new gridjs.Grid({
        columns: [
          { id: 'id', 'hidden': true },
          { id: 'name', name: 'Item', 'attributes': editableCellAttributes, 'sort': {
                          compare: (a, b) => {
                            return a.localeCompare(b);
                          }
            }
          },
          { id: 'amount', name: 'Amount', 'attributes': editableCellAttributes },
          { id: 'price', name: 'Price', 'attributes': editableCellAttributes, sort: {
                          compare: (a, b) => {
                              return parseFloat(a) - parseFloat(b);
                          },
                      },
          },
          // Can't use url_for in javascript because of item_id reference
          { id: 'delete_item', name: 'Delete', formatter: (item_id) =>
              gridjs.html(`<a href="/delete-row?item_id=${item_id}" }}><img src="/static/delete_icon.svg"/></a>`)}
        ],
        server: {
          url: '/api/data',
          then: results => results.data.map(item =>
            [item.id, item.name, item.amount, item.price, item.id]),
          total: results => results.total,
          total_price: results => results.total_price
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        sort: true,
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        }
      }).render(tableDiv);

      let savedValue;

      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
    </script>
    <a class="btn btn-outline-secondary m-3" href="{{ url_for('item_table.receipts') }}">See All Receipts</a>
    <a class="btn btn-outline-secondary m-3" href="{{ url_for('item_table.photo') }}" target="_blank">Receipt Picture</a>
    <button class="btn btn-outline-secondary m-3" id="add-row-button">Add Row</button>
    <script>
      document.getElementById('add-row-button').onclick = function(){
        var request = new XMLHttpRequest();

        // We point the request at the appropriate command
        request.open("GET", "/" + "add-row", true);
        // and then we send it off
        request.send();
        // reload page to display new row
        location.reload();
      }
    </script>
    <div class="total-price mx-auto p-3">Total paid: {{receipt_total}}</div>

{% endblock %}